# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.metadata/.plugins/org.eclipse.core.resources/.history/14/602f436778ee0014112588678597a8fe
.metadata/.plugins/org.eclipse.core.resources/.history/17/a0568c6c6dee001415aee44ee09e95a2
.metadata/.plugins/org.eclipse.core.resources/.history/2/1055b4e378ee0014112588678597a8fe
.metadata/.plugins/org.eclipse.core.resources/.history/2/60f01b0f6eee001415aee44ee09e95a2
.metadata/.plugins/org.eclipse.core.resources/.history/25/c06d6a3571ee001415aee44ee09e95a2
.metadata/.plugins/org.eclipse.core.resources/.history/28/00126a466dee001415aee44ee09e95a2
.metadata/.plugins/org.eclipse.core.resources/.history/2c/20b59c1d6eee001415aee44ee09e95a2
.metadata/.plugins/org.eclipse.core.resources/.history/2e/e083159f71ee001415aee44ee09e95a2

.history
http___download_eclipse_org_recommenders_models_luna_
.plugins
org.eclipse.core.resources
*.index
.metadata/.plugins/org.eclipse.core.resources/.projects/project5Folder/.markers
*.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
*.fdx
*.snap
*.snap
*.snap